{{ define "head" }}
	<!-- React + JSX + TypeScript test.  -->
	<script src="/lib/react.production.min.js"></script>
	<script src="/lib/react-dom.production.min.js"></script>

	<!-- get either index.tsx or index.jsx as the main react test file -->
	{{ with .Resources.GetMatch "index.*sx" }}
		{{ $js := js.Build . }}
		<script src="{{ $js.Permalink }}" defer></script>
	{{ end }}

	{{ with .Resources.GetMatch "style.*css" }}
		{{ $css := toCSS . }}
		<link rel="stylesheet" href="{{$css.Permalink}}">
	{{ end }}
{{ end }}

{{ define "main" }}
	<article>
		{{ .Content }}
	</article>
	<div id="React-Test"></div>
{{ end }}

