/* Main Navigation bar, structure is:
 * <nav>
 *   <div class="nav-icon-bar"/>
 *   <div class="nav-menu">
 *   	<a>menu link
 *   	...
 * Support for small screens through flexbox and media queries
 */

.nav-main {
	background-color: #333;

	a {
		display: block;
		text-align: center;
		padding: 5px;
		color: white;
		text-decoration: none;
		&.active,
		&:hover {
			background-color: darkred;
		}
	}

	.nav-icon-bar,
	.nav-menu {
		display: flex;
	}

	@media (max-width: 350px) {
		.nav-menu {
			flex-direction: column;
		}
	}
}

.nav-series {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	text-align: center;
	a {
		text-decoration: none;
	}
	.nav-prev {
		text-align: right;
	}
	.nav-next {
		text-align: left;
	}
}
