/* Navigation bar, structure is:
 * <nav>
 *   <div class="nav-icon-bar"/>
 *   <div class="nav-menu">
 *   	<a>menu link
 *   	...
 * Support for small screens through flexbox and media queries
 */

nav {
	background-color: #333;

	a {
		display: block;
		text-align: center;
		padding: 5px;
		color: white;
		text-decoration: none;
		&:hover {
			background-color: darkred;
		}
	}

	.nav-icon-bar,
	.nav-menu {
		display: flex;
	}

	.toggle-visible {
		display: none;
	}

	@media (max-width: 350px) {
		.nav-menu {
			flex-direction: column;
		}
	}
}

