@import "navbar.scss";
@import "summary-card.scss";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #f1f1f1;
}

hr {
	border: 1px solid grey;
}

#content {
	padding: 10px;
}

code {
	font-size: 10px;
}

.card-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	section {
		max-width: 90%;
	}

	@media (min-width: 350px) {
		section {
			max-width: 45%;
		}
	}

	@media (min-width: 700px) {
		section {
			max-width: 30%;
		}
	}
}
