@import "navbar.scss";
@import "summary-card.scss";
@import "collapsible.scss";
@import "collapsible-article.scss";

* {
	box-sizing: border-box;
}

/* style basic elements */
body {
	margin: 0;
	padding: 0;
	background: #cccccc;
}

hr {
	border: 1px solid grey;
}

h1, h2, h3, h4, h5 {
	display: block;
	text-align: center;
	margin-top: 10px;
}

/* style code blocks */
pre code {
	white-space: pre;
	overflow-x: scroll;
	display: block;
	max-width: 100%;
	padding: 5px;
}


/* main content div */
body > #content {
	position: relative;
	padding: 10px;
}


/* utility classes */
.nopadding {
	padding: 0;
	margin: 0;
}

.toggle-visible {
	display: none !important;
}
