/* a card grid looks like:
 * <div class="card-grid">
 *   <section class="summary">
 *   <section class="summary">
 *   ...
 */
.card-grid {
	display: grid;

	@media (min-width: 450px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (min-width: 700px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.summary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 3px;
	padding: 10px;
	background: orange;
	border-radius: 5px;
	h1, p {
		margin: 1px;
	}
	a {
		margin-left: 2px;
		margin-right: 2px;
	}
	ul {
		margin: 1px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
	}
	&:hover {
		background: teal;
	}
}
