<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- JQuery
<script src="/vendor/jquery-3.6.0.js"></script>
-->


<!-- Javascript -->
{{ $siteJS := resources.Get "js/site.js" | babel }}
<script src="{{$siteJS.RelPermalink}}"></script>

<!-- SCSS -->
{{ $options := (dict "targetPath" "css/site.css" "outputStyle" "compressed") }}
{{ $css := resources.Get "scss/site.scss" | toCSS $options | minify }}
<link rel="stylesheet" href="{{$css.RelPermalink}}">

<!-- TypeScript -->
{{ $ts := resources.Get "ts/hello/world.ts" | js.Build }}
<script src="{{ $ts.Permalink }}"> </script>

<title>
	{{ .Site.Title }}
	{{ if not .IsHome }} | {{ .Title }} {{ end }}
</title>

