<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap Icons -->
	<link rel="stylesheet" href="/vendor/bootstrap-icons-1.6.1/bootstrap-icons.css">

	<!-- JQuery -->
	<script src="/vendor/jquery-3.6.0.js"></script>

	<!-- Custom CSS -->
	{{ $options := (dict "targetPath" "css/site.css" "outputStyle" "compressed") }}
	{{ $siteCSS := resources.Get "scss/site.scss" | toCSS $options }}

	{{ $css := $siteCSS | minify }}
	<link rel="stylesheet" href="{{$css.RelPermalink}}">


	<title>
		{{ .Site.Title }}
		{{ if not .IsHome }} | {{ .Title }} {{ end }}
	</title>
</head>
