<nav class="nav-main">

	<div class="nav-icon-bar">
		<a href="#" onclick='$("#main-menu").toggleClass("toggle-visible")'><i class="bi bi-list"></i></a>
		<a href="/"><i class="bi bi-house-fill"></i></a>
		<a href="https://wiki.jurjen.dev"><i class="bi bi-stickies-fill"></i></a>
		<a href="https://github.com/snhmibby"><i class="bi bi-github"></i></a>
	</div>

	<div id="main-menu" class="nav-menu">
		<a href="/">Home</a>
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
			<a  href="{{ .URL }}"
				{{ if $currentPage.IsMenuCurrent "main" . }}
					class="active"
				{{ end }}>
			{{ .Name }}
			</a>
		{{ end }}

		<a href="https://wiki.jurjen.dev">Wiki</a>
		<a href="https://github.com/snhmibby">Github</a>
	</div>
</nav>
