{{ if .Params.series }}
	{{ $curPage := .Permalink }}
	{{ $key := .Params.series | urlize }}
	{{ $series := index .Site.Taxonomies.series $key }}
	{{ $sorted := $series.Pages.ByDate }}
	{{ range $i, $p := $sorted }}
		{{ if eq $curPage $p.Permalink }}
			{{ if gt $i 0 }}
				{{ .Scratch.Set "prev" (index $sorted (sub $i 1)) }}
			{{ end }}
			{{ if lt $i ((sub (len $series) 1)) }}
				{{ .Scratch.Set "next" (index $sorted (add $i 1)) }}
			{{ end }}
		{{ end }}
	{{ end }}
	<nav class="nav-series">
		<div class="nav-prev">
			{{ with index .Scratch.Values "prev"}}
				<a href="{{- .Permalink -}}" rel="prev">&larr;</a>
			{{ end }}
		</div>
		<a class="nav-up" href="/series/{{.Params.series | urlize}}">{{.Params.series}} Track</a>
		<div class="nav-next">
			{{ with index .Scratch.Values "next"}}
				<a href="{{- .Permalink -}}" rel="next">&rarr;</a>
			{{ end }}
		</div>
	</nav>
{{ end }}
